Markdown
MarkupSafe
pymdown-extensions
mkdocs
mkdocs-material
mkdocs-material-extensions
mkdocs-minify-plugin
mkdocs-redirects
mkdocs-rss-plugin
msgpack
python-dateutil
PyYAML
pyyaml_env_tag
requests
urllib3
watchdog
webencodings
